@font-face {
    font-family: 'munro';
    src: url('src/assets/font/MunroSmall.ttf');
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'munro', monospace;
  font-size: 16px;
  color: #fff;

  background-color: #000;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px;
}
.wrapper:after {
  content: "";
  display: block;
}
footer, .wrapper:after {
  height: 100px;
}

#game {
  position: absolute;
  width: 1200px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -600px;
}

/*
// BETTER Media queries
*/

/* Tablets Portrait UP*/
@media only screen and (min-width: 600px) {

}

/* Tablets Portrait ONLY*/
@media only screen and (min-width: 600px) and (max-width: 899px) {

}

/* Tablets Landscape UP*/
@media only screen and (min-width: 900px) {

}

/* Tablets Landscape ONLY*/
@media only screen and (min-width: 900px) and (max-width: 1199px) {

}

/* Desktops UP*/
@media only screen and (min-width: 1200px) {

}

/* Desktop ONLY*/
@media only screen and (min-width: 1200px) and (max-width: 1799px) {

}

/* Big Desktops UP*/
@media only screen and (min-width: 1800px) {

}
